body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

.image-box{
  text-align: center;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 48px;
}

#Day_Date{
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-size: 48px;
}

h3{
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-size: 24px;
}

#calendar{
  margin-left: auto; 
  margin-right: auto;
}

#left_button{
  position: absolute;
  left : 35%;
  top: 80%;
}

/* 안돼...ㅠ 버튼이 자꾸 왼쪽을가버리네요...ㅎㅎㅠㅠㅠㅠ  해결 되었네요 ~*/
#right_button{
  position: absolute;
  left: 65%;
  top: 80%;
}