@import "reset.css";

body {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1575330739287-90c6a473f9a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-repeat: repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
  width: 100%;
  height: 100%;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1.2);
}

section {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

section > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-box {
  position: relative;
  align-self: flex-start;
  margin: 10px 10px 10px 10px;
  width: auto;
  height: auto;
}

.image-box > img {
  position: absolute;
  max-width: 12vw;
  max-height: 4vw;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 50px;
}

.today {
  font-size: 5vw;
  text-align: center;
  font-weight: 800;
}

.today > p:nth-child(1) {
  font-size: 2vw;
}

.today > p:nth-child(3) {
  font-size: 2vw;
}

.delimeter {
  width: 30%;
  min-width: 350px;
  border: 1px solid black;
}

.calendar--title {
  font-size: 2vw;
  font-weight: 800;
}

.calendar {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.calendar__main {
  display: flex;
}

.calendar__button--move {
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid black;
  width: 30px;
  height: 15vh;
  margin-top: 30px;
  align-self: flex-start;
}

.calendar__button--move:hover {
  transform: scale(1.1);
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 2px 2px;
  cursor: pointer;
}

.calendar__button--move:active {
  transform: scale(1.2);
}

.calendar__table {
  table-layout: fixed;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
  min-width: 300px;
  max-width: 30%;
  width: 30vw;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1vw;
}

.calendar__table th {
  font-weight: bold;
  height: 16px;
  font-size: 1vw;
}

.calendar__table td {
  position: relative;
  vertical-align: middle;
}

.date-inside:hover {
  transform: scale(1.1);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px;
  background-color: rgb(255, 255, 255, 0.5);
  cursor: pointer;
}

table .date-inside:active {
  transform: scale(1.2);
}

table .task-notification {
  position: absolute;
  top: 10%;
  left: 60%;
  background-color: rgb(255, 255, 255);
  height: 10px;
  width: 10px;
  text-align: center;
  font-size: 5px;
  font-weight: 1000;
  line-height: 10px;
  border-radius: 10px;
}

.board {
  background-color: rgba(255, 255, 255, 0.1);
  width: 30vw;
  min-width: 350px;
  height: fit-content;
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.board--invisible {
  display: none;
}

.board--visible {
  display: block;
}

.board__form-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(128, 128, 128, 0.5);
  width: 100%;
  height: 100%;
}

.board__form-container--invisible {
  display: none;
}

.board__form-container--visible {
  display: block;
}

.board__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 30px 30px 30px 30px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.5);
}

.task-content-text-input {
  position: relative;
  margin-bottom: 30px;
}

.board__form__button-container {
  position: relative;
}

.board__form__button-container button {
  border-radius: 10px;
}

.task-submission-ok {
  background-color: rgb(255, 255, 255);
}

.task-submission-cancel {
  background-color: darkgray;
}

.board__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.board__date--text {
  font-size: 20px;
}

.board__button {
  border-radius: 10px;
  background-color: transparent;
  border: 0px solid black;
  cursor: pointer;
}

.board__button:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px;
}

.board__button:active {
  transform: scale(1.2);
}

.board__button--add {
  background-color: rgb(245, 245, 245);
  font-weight: 300;
}

.board__button--delete-all {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 100;
}

.board .board__content {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.task {
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 5px 5px 5px 5px;
  height: 3vh;
  line-height: 3vh;
  padding: 5px 5px 5px 5px;
  border: 0px;
}

.task:hover {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px;
  height: fit-content;
}

.task__button-container {
  display: relative;
  min-width: 30px;
}

.task__button {
  border: none;
  width: fit-content;
  font-size: 0.5vh;
  background-color: transparent;
  border-radius: 10px;
  padding: 0 0 0 0;
}

.task__status {
  min-width: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 10px;
  padding: 3px 3px 3px 3px;
  margin-right: 5px;
}

.task__status:hover {
  transform: scale(1.1);
}

.task__status:active {
  transform: scale(1.2);
}

.task__content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task__content:hover {
  overflow: unset;
  text-overflow: unset;
  white-space: normal;
}
